.navbar-brand{
  margin-right: 100px;
  margin-left: 200px;
  font-size: 50px;
}
.style{
  background-color: rgb(255, 102, 0);
}
.custom-color{
  color:rgb(0, 153, 255);
  font-weight: bold;
}
.custom{
  font-weight: bold;
}
.bg{
  padding-left: 200px;
  margin-left: 200px;
 margin-bottom: 80px;
 
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
}
.footer {
  margin: 0; /* No margin */
  padding: 10px 20px; /* Padding for the footer */
  background-color: rgb(41, 200, 228); /* Optional background color */
  color: white; /* Footer text color */
  text-align: center; /* Center the footer content */
  background-position: top; /* Control background image position */
  background-size: cover;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App {
  display: flex;
  flex-direction: column;
  
}
main {
  flex: 1; /* Allow main to grow and push footer down */
display:'flex'
}
.btn-light{
  color: rgb(0, 174, 255);
  border: 2px solid rgba(0, 174, 255);
  background-position: 'top'
}
.dropdown-menu{
  border: 2px solid rgba(0, 174, 255);
  background-color: rgba(0, 174, 255);
  color:#f8f9fa
}
.btn-secondary{
  border: 2px solid rgba(0, 174, 255);
  background-color: rgba(0, 174, 255);
  color:#f8f9fa;
 

}

.App {
  display: flex;
  flex-direction: column; /* Stack content and footer vertically */
  min-height: 100vh; /* Ensure the app takes full viewport height */
}
.content {
  flex: 1; /* Take up remaining space */
  padding: 20px; /* Optional padding */
  color: black; /* Text color */
  overflow: auto;
}
