.navbar-brand{
  margin-right: 100px;
  margin-left: 200px;
  font-size: 50px;
}
.style{
  background-color: rgb(255, 102, 0);
}
.custom-color{
  color:rgb(0, 153, 255);
  font-weight: bold;
}
.custom{
  font-weight: bold;
}
.bg{
  padding-left: 200px;
  margin-left: 200px;
 margin-bottom: 80px;
 
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  
  
}
.footer {
  background-color: #f8f9fa; /* Bootstrap light gray */
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App {
  display: flex;
  flex-direction: column;
  
}
main {
  flex: 1; /* Allow main to grow and push footer down */
display:'flex'
}

